@(currentTick: Integer)
@import helper._

@main("Snapshot Server") {
    <div class="row fill">
        <div>
            <h3>Game Tick</h3>
        </div>
        <div class="row">
        @form(action = routes.HomeController.tick()) {
            <div class="col-xs-3">
                <input name="tick" id="tick" class="form-control" placeholder="Tick (current tick: @currentTick)" type="number" min="1" autofocus/>
            </div>
            <div class="col-xs-2">
                <button id="send" type="submit" class="form-control">Send</button>
            </div>
        }
        </div>
    </div>
}
